meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Fundamentos del servicio de interpretación
meta(meta name="description" content="Fundamentar el servicio de interpretación permite un acercamiento a los protocolos que intervienen en el servicio mismo y la adquisición de habilidades y actitudes para un desempeño acorde con los desafíos del contexto general. Adicionalmente, proporciona elementos importantes sobre el seguimiento del servicio y la administración de los aspectos logísticos.")    
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")