h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark.mb-0
            li 
                span 240201072 - 01. Coordinar el servicio de interpretación de acuerdo con la planeación.
            li.mb-0
                span 240201072 - 02. Planear el servicio de interpretación de acuerdo con protocolos técnicos.