.container#logistica

    .header-ecored
        h1 1. Logística
    
    .jumbotron.bg-white.shadow

        p La logística es un término cada vez más utilizado en nuestros días. Originalmente, la palabra logística se utilizó como un concepto militar que proviene del francés #[i “logistique”], para referirse al transporte, el suministro y el alojamiento de las tropas.
        .row.p-4.bg-color1.rounded.align-items-center.mt-6
            .col-6.bg-red
                p.txt-color2.mb-0 En la actualidad, el término es utilizado en los sectores del marketing y distribución empresarial.
            .col-6
                img(src="assets/images/pages/ilustraciones/img1.png", style="max-width: 50%").img-a2

        #definicion
        .header-ecored.mt-6
            h2 1.1 Definición de logística
        p Para que un producto llegue a su destino, tuvo que pasar por un extenso proceso que va desde la obtención de las materias primas, el embalaje, transporte, recepción, inspección, clasificación, transformación, almacenamiento y entrega al cliente, entre otros asuntos. 
        img(src="assets/images/pages/ilustraciones/img2.png", style="max-width: 50%").img-fluid.my-3
        .row.bg-color2.rounded.p-4.align-items-center.mt-4
            .col-12.col-md-8
                p
                    span.txt-color3 Esta red de medios, métodos e infraestructura 
                    | garantiza la conservación y calidad de un producto o servicio. Esto es lo que se conoce como logística.
                p Más allá de los inventarios tangibles y cuantificables, se encuentra una logística enfocada a la capacidad de gestión, lo que incluye la calidad de los servicios prestados y la satisfacción del cliente. Esto es lo que se conoce como #[b.txt-size1 “Logística de Servicio”].
            .col-12.col-md-4.text-center 
                img(src="assets/images/pages/ilustraciones/img3.png", style="max-width: 80%").img-fluid.my-3
        .row.mt-6.align-items-center
            .col-12.col-md-6
                div.txt-deco1
                    p A partir de lo anterior, se marca la existencia de la diferencia entre la logística de productos y la de servicios, entendiendo la primera desde una naturaleza susceptible de ser acumulable, cuantificable y transportable, mientras que la segunda, hace referencia al cliente y la entrega de una experiencia satisfactoria.
                div.bg-color9
            .col-12.col-md-6
                img(src="assets/images/pages/ilustraciones/img4.png", style="max-width: 60%").img-fluid.img-a1.my-4.my-md-0
        .row.justify-content-center
            .col-8
                p.text-center.mt-6.txt-deco2 El servicio al cliente puede analizarse desde tres puntos de vista:
        img(src="assets/images/pages/ilustraciones/img5.png", style="max-width: 90%").img-fluid.img-a
        .row.align-items-center.mt-6
            .col-12.col-md-4.bg-color1.p-4
                p.txt-deco3 Componentes de un buen servicio al cliente
                p.txt-deco4 Calidad, variedad, costo, tiempo de respuesta, disponibilidad.
                .hr
            .col-12.col-md-8.p-4
                p La prestación de servicios busca eliminar la brecha entre el nivel de servicio ofrecido y el nivel de servicio percibido en cada uno de sus componentes: calidad, variedad, costo, tiempo de respuesta, disponibilidad. Para lograr esto, se hace necesario conocer el contexto de las necesidades y gustos de los clientes, para el perfeccionamiento continuo del sistema de gestión logística.
        
        #etapas
        .header-ecored
            h2 1.2 Etapas o fases
        .row.mb-6
            .col-8
                p Para que un servicio de interpretación pueda aplicarse eficazmente, primero es necesario conocer el marco normativo que regula esta función:
        .row.justify-content-end
            .col-8.bg-color6.p-4.txt-deco5
                p.text-center.mb-0 “Intérprete para Sordos”
        .row.bg-color2.rounded.p-4.align-items-center.mb-6
            .col-12.col-md-4
                img(src="assets/images/pages/ilustraciones/img7.png", style="max-width: 60%").img-fluid.img-a3
            .col-12.col-md-8
                p Son personas con amplios conocimientos de la Lengua Manual Colombiana que puede realizar interpretación simultánea del español hablado en la Lengua Manual y viceversa. De acuerdo con la Sentencia C-128-02. y la Ley 324 de1996, en el entendido de que “también son intérpretes para sordos aquellas personas que realicen la interpretación simultánea del castellano hablado a otras formas de comunicación de la población sorda, distintas a la Lengua manual, y viceversa”; además de que se requiere que cumpla con las siguientes etapas de la logística:
        .row.align-items-center.my-4
            .col-4 
                img(src="assets/images/pages/ilustraciones/img8.png", style="max-width: 80%").img-fluid.img-a
            .col-8 
                p.mb-0 #[b Analizar los diversos escenarios en que se pueden prestar el servicio:] locación, iluminación, sonido, equipos tecnológicos ,ubicación, visibilidad del intérprete.
            .col-4 
                img(src="assets/images/pages/ilustraciones/img9.png", style="max-width: 80%").img-fluid.img-a
            .col-8 
                p.mb-0 #[b Organizar planes de contingencia] en caso de que algún paso resulte mal o exista algún inconveniente.
            .col-4 
                img(src="assets/images/pages/ilustraciones/img10.png", style="max-width: 80%").img-fluid.img-a
            .col-8 
                p.mb-0 #[b Conocer de antemano los temas y contenidos] que se impartirán durante la clase, exposición o discurso.
            .col-4 
                img(src="assets/images/pages/ilustraciones/img11.png", style="max-width: 80%").img-fluid.img-a
            .col-8 
                p.mb-0 #[b Tener conocimiento de las características de la población] objeto del servicio, para acordar un vocabulario pertinente al usuario.
        .row.bg-color3.rounded.p-4.align-items-center.mt-6
            img(src="assets/images/pages/ilustraciones/img12.png", style="max-width: 80%").img-fluid.img-a4
            .col-12
                p.mb-0.mt-4.mt-md-0 “El Estado garantizará y proveerá la ayuda de intérpretes idóneos para que sea éste un medio a través del cual las personas sordas puedan acceder a todos los servicios que como ciudadanos colombianos les confiere la Constitución. Para ello el Estado organizará a través de Entes Oficiales o por Convenios con Asociaciones de Sordos, la presencia de intérpretes para el acceso a los Servicios mencionados” Ley 324 (1996).
        .row.align-items-center.my-4
            .col-4 
                img(src="assets/images/pages/ilustraciones/img13.png", style="max-width: 80%").img-fluid.img-a
            .col-8 
                p.mb-0 #[b Acordar los tiempos de relevo con el intérprete de apoyo], los tiempos de llegada y salida, y los tiempos de inicio y finalización del servicio.
            .col-4 
                img(src="assets/images/pages/ilustraciones/img14.png", style="max-width: 80%").img-fluid.img-a
            .col-8 
                p.mb-0 #[b Conocer las normas de comportamiento] establecidas en cuanto al protocolo y etiqueta para prestar un servicio de interpretación con calidad.
            .col-4 
                img(src="assets/images/pages/ilustraciones/img15.png", style="max-width: 80%").img-fluid.img-a
            .col-8 
                p.mb-0 #[b Ejecución del servicio.]
            .col-4 
                img(src="assets/images/pages/ilustraciones/img16.png", style="max-width: 80%").img-fluid.img-a
            .col-8 
                p.mb-0 #[b Evaluación de resultados y satisfacción del cliente.]

        #criterios
        .header-ecored
            h2 1.3 Criterios
        p Los criterios en el proceso logístico permiten identificar el grado de satisfacción del cliente. Estos abarcan:
        .row.justify-content-center
            .col-4
                img(src="assets/images/pages/ilustraciones/img17.png", style="max-width: 80%").img-fluid.mt-4
                .list.align-items-center.mt-4
                    .list__item
                        .list__item__bulletNumber
                            span 1
                    .list__txt
                        p.mb-0 Disponibilidad.
                .list.align-items-center.mt-2
                    .list__item
                        .list__item__bulletNumber
                            span 2
                    .list__txt
                        p.mb-0 Rapidez.
                .list.align-items-center.mt-2
                    .list__item
                        .list__item__bulletNumber
                            span 3
                    .list__txt
                        p.mb-0 Fiabilidad.
            .col-4
                img(src="assets/images/pages/ilustraciones/img18.png", style="max-width: 80%").img-fluid.mt-4
                .list.align-items-center.mt-4
                    .list__item
                        .list__item__bulletNumber
                            span 4
                    .list__txt
                        p.mb-0 Costo.
                .list.align-items-center.mt-2
                    .list__item
                        .list__item__bulletNumber
                            span 5
                    .list__txt
                        p.mb-0 Servicio.
                .list.align-items-center.mt-2
                    .list__item
                        .list__item__bulletNumber
                            span 6
                    .list__txt
                        p.mb-0 Calidad.
        
        #costos
        .header-ecored
            h2 1.4 Costos
        p Es necesario comprender los costos que conlleva un servicio de interpretación, teniendo en cuenta que en los parámetros estratégicos de costos logísticos intervienen los siguientes ítems: costos variables, costos individualizados, nivel de calidad, subsistemas relacionados, costo total, entre otros.
        img(src="assets/images/pages/ilustraciones/img19.png", style="max-width: 80%").img-fluid.img-a

        #objetivos
        .header-ecored
            h2 1.5 Objetivos
        .jumbotron.bg-color3.shadow
            .row.align-items-center
                .col-12.col-md-10
                    p.txt-deco6 ¿Por qué?
                    p.mb-0 Obedece a los objetivos del servicio de interpretación, es decir, incrementar las capacidades de comprensión y competencia en el mercado, lograr la permanencia de los clientes y generar una mayor rentabilidad económica como resultado de los servicios ofrecidos.
                .col-12.col-md-2.mt-4.mt-md-0
                    img(src="assets/images/pages/ilustraciones/img20.png", style="max-width: 100%").img-fluid.img-a1

        #analisis
        .header-ecored
            h2 1.6 Análisis del recurso
        .jumbotron.bg-color4.shadow
            .row.align-items-center.justify-content-center
                .col-12.col-md-8
                    p.txt-deco6 ¿Por qué?
                    p Es el análisis del recurso que considera los diferentes componentes que intervienen en el servicio que se presta. Por ejemplo, los recursos, entre otros pueden ser:
                    .row.justify-content-center
                        .col-8
                            .list.align-items-center
                                .list__item
                                    .list__item__icon
                                        img.img-a1(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                                .list__txt
                                    p.mb-0.mt-2 Tecnológicos.
                            .list.align-items-center.mt-2
                                .list__item
                                    .list__item__icon
                                        img.img-a1(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                                .list__txt
                                    p.mb-0.mt-2 Locativos.
                            .list.align-items-center.mt-2
                                .list__item
                                    .list__item__icon
                                        img.img-a1(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                                .list__txt
                                    p.mb-0.mt-2 Económicos.
                            .list.align-items-center.mt-2
                                .list__item
                                    .list__item__icon
                                        img.img-a1(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                                .list__txt
                                    p.mb-0.mt-2 Materiales.
                            .list.align-items-center.mt-2
                                .list__item
                                    .list__item__icon
                                        img.img-a1(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                                .list__txt
                                    p.mb-0.mt-2 Organizativos.
                            .list.align-items-center.mt-2
                                .list__item
                                    .list__item__icon
                                        img.img-a1(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                                .list__txt
                                    p.mb-0.mt-2 Educativos.
                            .list.align-items-center.mt-2
                                .list__item
                                    .list__item__icon
                                        img.img-a1(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                                .list__txt
                                    p.mb-0.mt-2 Humanos.
                .col-12.col-md-4.mt-4.mt-md-0
                    img(src="assets/images/pages/ilustraciones/img21.png", style="max-width: 100%").img-fluid.img-a1

        #analisis1
        .header-ecored
            h2 1.7 Análisis de los destinatarios
        .jumbotron.bg-color3.shadow
            .row.align-items-center
                .col-12.col-md-10
                    p.txt-deco6 ¿A quién?
                    p.mb-0 Esto se refiere al análisis de los destinatarios: la persona, grupo de personas o la entidad a quién va dirigido el servicio de interpretación, con sus particularidades individuales. Quien realiza el servicio deduce la manera más apropiada para intervenir.
                .col-12.col-md-2.mt-4.mt-md-0
                    img(src="assets/images/pages/ilustraciones/img22.png", style="max-width: 100%").img-fluid.img-a1

        #medios
        .header-ecored
            h2 1.8 Medios y servicios
        .jumbotron.bg-color4.shadow
            .row.align-items-center
                .col-12.col-md-10
                    p.txt-deco6 ¿Cómo? ¿Cuándo? ¿Dónde?
                    p.mb-0 Responde a los medios y servicios para la interpretación, teniendo en cuenta la presentación personal, la ubicación, el estado emocional del intérprete y el uso de plataformas tecnológicas como medios alternos para prestar dicho servicio, entre otros.
                .col-12.col-md-2.mt-4.mt-md-0
                    img(src="assets/images/pages/ilustraciones/img23.png", style="max-width: 100%").img-fluid.img-a1

        #evaluacion
        .header-ecored
            h2 1.9 Evaluación de los servicios
        .jumbotron.bg-color3.shadow
            .row.align-items-center
                .col-12.col-md-10
                    p.txt-deco6 Evaluación de los servicios - ¿Cómo se evaluará?
                    p.mb-0 La evaluación de la calidad del servicio permite conocer la opinión de los usuarios sobre las particularidades del trabajo realizado que contribuyen a su plena satisfacción.
                .col-12.col-md-2.mt-4.mt-md-0
                    img(src="assets/images/pages/ilustraciones/img24.png", style="max-width: 100%").img-fluid.img-a1
        .row.justify-content-center
            .col-8
                p.text-center.mt-6.txt-deco6
                    span Hay 5 elementos 
                    | que los  consumidores toman en cuenta para la evaluación:
        .row.justify-content-around.align-items-stretch.mt-6
            .col-12.col-md-5.mt-4.mt-md-0.jumbotron.bg-white.border.border-2
                img(src="assets/images/pages/ilustraciones/img55.png", style="max-width: 80%").img-fluid.img-a5
                p.txt-deco6 Elementos tangibles
                p Apariencia del intérprete y presentación personal en estado óptimo.
            .col-12.col-md-5.mt-4.mt-md-0.jumbotron.bg-white.border.border-2
                img(src="assets/images/pages/ilustraciones/img56.png", style="max-width: 80%").img-fluid.img-a5
                p.txt-deco6 Cumplimiento
                p Desarrollar el servicio de manera correcta y oportuna.
            .col-12.col-md-5.mt-4.mt-md-4.jumbotron.bg-white.border.border-2
                img(src="assets/images/pages/ilustraciones/img57.png", style="max-width: 80%").img-fluid.img-a5
                p.txt-deco6 Disposición
                p Ofrecer un servicio ágil y claro.
            .col-12.col-md-5.mt-4.mt-md-4.jumbotron.bg-white.border.border-2
                img(src="assets/images/pages/ilustraciones/img58.png", style="max-width: 80%").img-fluid.img-a5
                p.txt-deco6 Perfil del personal
                p Dominar el tema, solucionar los contratiempos e inspirar confianza.
            .col-12.col-md-5.mt-4.mt-md-4.jumbotron.bg-white.border.border-2
                img(src="assets/images/pages/ilustraciones/img59.png", style="max-width: 80%").img-fluid.img-a5
                p.txt-deco6 Empatía
                p Participar en la realidad del cliente de forma objetiva y racional.
            .col-12.col-md-5.mt-4
                img(src="assets/images/pages/ilustraciones/img4.png", style="max-width: 100%").img-fluid.img-a1

        #planificacion
        .header-ecored
            h2 1.10 Planificación y producción
        p Después de tener claro el por qué, qué, a quién, cómo, cuándo y dónde, es necesario aplicar los procesos logísticos de acuerdo con el contexto y el usuario. Así:
        .row.mt-6.align-items-center
            .col-12.col-md-6
                div.txt-deco7
                    .list.align-items-center
                        .list__item
                            .list__item__icon
                                img.img-a1(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                        .list__txt
                            p.mb-0.mt-2 Perfiles de los intérpretes.
                    .list.align-items-center.mt-2
                        .list__item
                            .list__item__icon
                                img.img-a1(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                        .list__txt
                            p.mb-0.mt-2 Distribución del recurso humano de acuerdo con el usuario.
                    .list.align-items-center.mt-2
                        .list__item
                            .list__item__icon
                                img.img-a1(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                        .list__txt
                            p.mb-0.mt-2 Distribución de tiempos.
                    .list.align-items-center.mt-2
                        .list__item
                            .list__item__icon
                                img.img-a1(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                        .list__txt
                            p.mb-0.mt-2 Temáticas.
                    .list.align-items-center.mt-2
                        .list__item
                            .list__item__icon
                                img.img-a1(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                        .list__txt
                            p.mb-0.mt-2 Materiales de apoyo.
                    .list.align-items-center.mt-2
                        .list__item
                            .list__item__icon
                                img.img-a1(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                        .list__txt
                            p.mb-0.mt-2 Vocabulario.
                    .list.align-items-center.mt-2
                        .list__item
                            .list__item__icon
                                img.img-a1(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                        .list__txt
                            p.mb-0.mt-2 Montaje y disposición de equipos (locación, iluminación, sonido, equipos tecnológicos, ubicación y visibilidad del intérprete).
                    .list.align-items-center.mt-2
                        .list__item
                            .list__item__icon
                                img.img-a1(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                        .list__txt
                            p.mb-0.mt-2 Ejecución del evento.
                    .list.align-items-center.mt-2
                        .list__item
                            .list__item__icon
                                img.img-a1(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                        .list__txt
                            p.mb-0.mt-2 Evaluación de resultados.
                div.bg-color9
            .col-12.col-md-6
                img(src="assets/images/pages/ilustraciones/img26.png", style="max-width: 60%").img-fluid.img-a1.my-4.my-md-0