.container#atencion

    .header-ecored
        h1 2. Atención al usuario
    
    .jumbotron.bg-white.shadow

        #definicion1
        .header-ecored.mt-0
            h2 2.1 Definición
        p Hablar de atención al usuario no es solo definir los parámetros relacionados con la comunicación interna o externa, y sus correspondientes canales para garantizar una adecuada y oportuna respuesta.
        .row.mt-4.align-items-center
            .co-12.col-md-6
                img(src="assets/images/pages/ilustraciones/img27.png", style="max-width: 80%").img-fluid.img-a
            .co-12.col-md-6
                p.txt-deco8 Es también proporcionar los estándares de comunicación y de la 
                    span proyección de una imagen personal, segura, eficiente y eficaz, para
                    | satisfacer de manera oportuna los requerimientos que solicitan nuestros usuarios.
        section
            .timeline
                .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes
                    .col-10.col-md-5.order-3.order-md-1.timeline-content
                        p.txt-deco10.text-left “El Estado Colombiano reconoce la Lengua Manual Colombiana, como idioma propio de la Comunidad Sorda del País”.
                    .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
                        img.img-fluid(src='assets/images/pages/ilustraciones/img12.png' alt='img')
                    .col-10.col-md-5.order-1.order-md-3.py-3.timeline-date
                        time.txt-deco9 Ley 324 de 1996
                .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes
                    .col-10.col-md-5.order-3.order-md-1.timeline-content
                        p.txt-deco10 “Las entidades estatales de cualquier orden, incorporan paulatinamente dentro de los programas de atención al cliente, el servicio de intérprete y guía intérprete para las personas sordas y sordociegas que lo requieran de manera directa o mediante convenios con organismos que ofrezcan tal servicio.”
                    .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
                        img.img-fluid(src='assets/images/pages/ilustraciones/img12.png' alt='img')
                    .col-10.col-md-5.order-1.order-md-3.py-3.timeline-date
                        time.txt-deco9  Ley 982 de 2005
        
        #relaciones
        .header-ecored.mt-0
            h2 2.2 Relaciones interpersonales
        p La definición de atención al usuario se da como el conjunto de elementos intangibles, acciones integradas, interacciones personales y actitudes para satisfacer la necesidad de un cliente, lo que requiere, además, de un protocolo y de una política.
        p.txt-deco11 Las expectativas de los usuarios son diferentes y variadas por lo que es fundamental conocerlas y contar con ellas. El ideal de éxito y calidad del servicio reside en superar esas expectativas. Ello no significa endosar información o instrucciones innecesarias, pero 
            span sí dar una respuesta adecuada, completa, rápida y fiable, que aporte valor adicional.
        p Estas expectativas serán mucho más exigentes, cuando se habla de un servicio de interpretación en la que la atención al usuario lleva implícita una actividad que permite que varias partes comprendan un mensaje a través de un sistema de signos, gestos y expresiones y que requiere una comprensión detallada de la cultura sorda y todos sus matices.
        .row.justify-content-center.mt-6
            .col-8
                p.txt-deco12.text-center Entre las 
                    span expectativas del usuario 
                    | actual pueden citarse:
        .row.py-6
            .col-8.p-4.bg-color6.rounded
                .list.align-items-center
                    .list__item
                        .list__item__icon
                            img.img-a1(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                    .list__txt
                        p.mb-0.mt-2.txt-deco13 Eficacia:
                        p.mb-0 obtención real de resultados y respuestas.
                .list.align-items-center.mt-2
                    .list__item
                        .list__item__icon
                            img.img-a1(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                    .list__txt
                        p.mb-0.mt-2.txt-deco13 Rapidez:
                        p.mb-0 El tiempo es factor fundamental, siempre escaso y valioso.
                .list.align-items-center.mt-2
                    .list__item
                        .list__item__icon
                            img.img-a1(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                    .list__txt
                        p.mb-0.mt-2.txt-deco13 Facilidad:
                        p.mb-0 Simplicidad, comodidad, ahorro de esfuerzo.
                .list.align-items-center.mt-2
                    .list__item
                        .list__item__icon
                            img.img-a1(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                    .list__txt
                        p.mb-0.mt-2.txt-deco13 Autonomía:
                        p.mb-0 Tendencia a preferir en lo posible sistemas autoservicio.
                .list.align-items-center.mt-2
                    .list__item
                        .list__item__icon
                            img.img-a1(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                    .list__txt
                        p.mb-0.mt-2.txt-deco13 Concentración:
                        p.mb-0 Encontrar la respuesta completa en un sitio, por una sola vía.
                .list.align-items-center.mt-2
                    .list__item
                        .list__item__icon
                            img.img-a1(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                    .list__txt
                        p.mb-0.mt-2.txt-deco13 Fiabilidad:
                        p.mb-0 Garantías sobre el valor y calidad de la información recibida.
                .list.align-items-center.mt-2
                    .list__item
                        .list__item__icon
                            img.img-a1(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                    .list__txt
                        p.mb-0.mt-2.txt-deco13 Trato individualizado:
                        p.mb-0 Atención a las peculiaridades personales.
            .col-12.col-lg-4
                img(src="assets/images/pages/ilustraciones/img28.png").img-a6
        .row.pt-0.pt-xl-6
            .col-12.col-md-6.p-4.rounded.bg-color6
                p.txt-deco14.mb-0 Hablar entonces de atención al usuario, indica la necesidad de establecer unos parámetros que respondan a un protocolo de servicio, pero en especial a una política de este.
        .row
            .col-12.col-md-6.p-4
                p La importancia de tener definida una política de servicio al cliente radica en la estandarización de procedimientos que los empleados deben seguir al momento de atender una solicitud, lo que sin duda alguna marca la personalidad de una organización.
                p La política de servicio al cliente son las orientaciones, directrices o procedimientos que rigen la actuación de una persona o entidad frente a sus clientes.
                img(src="assets/images/pages/ilustraciones/img29.png", style="max-width: 100%").img-fluid.img-a   
            .col-12.col-md-6.rounded.bg-color1.p-4.txt-deco15
                p.pt-6 Los objetivos en la política de servicio al cliente corresponden a los propósitos de la prestación del servicio en relación a la atención al usuario y su necesidad, además, deben estar alineados con los objetivos de su empresa y del servicio a prestar.
                p.py-6
                    span Algunos pueden ser:
                .list.align-items-center
                    .list__item
                        .list__item__icon
                            img.img-a1(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                    .list__txt
                        p.mb-0.mt-2 Como comunicarle al cliente la existencia de un nuevo producto o línea de producto.
                .list.align-items-center.mt-2
                    .list__item
                        .list__item__icon
                            img.img-a1(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                    .list__txt
                        p.mb-0.mt-2 Como medir la satisfacción del cliente, a través de encuestas aleatorias.
                .list.align-items-center.mt-2
                    .list__item
                        .list__item__icon
                            img.img-a1(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                    .list__txt
                        p.mb-0.mt-2 Plan de incentivos, de acuerdo al nivel de consumo por parte del cliente.
        .row.bg-color3.mt-4.p-4.rounded.align-items-center
            .col-12.col-md-10
                p Evaluar las políticas de servicio de su competencia permite definir estándares, perfiles y protocolos de atención, así se puede corresponder de manera eficaz y eficiente a lo que se está ofertando y a lo que se está demandando.
            .col-12.col-md-2
                img(src="assets/images/pages/ilustraciones/img30.png", style="max-width: 80%").img-fluid.img-a
            .col-12.col-md-2
                img(src="assets/images/pages/ilustraciones/img31.png", style="max-width: 80%").img-fluid.img-a
            .col-12.col-md-10
                p Evaluar las políticas de servicio de su competencia permite definir estándares, perfiles y protocolos de atención, así se puede corresponder de manera eficaz y eficiente a lo que se está ofertando y a lo que se está demandando.
            .col-12.col-md-10
                p Tener claro las políticas de servicio de su competencia, le indica que los procedimientos e instructivos deben estar documentados y responder al paso a paso de lo que debe hacer cada empleado al momento de contestar una llamada, recibir una queja u orientar un cliente para adquirir un producto o servicio. La documentación de los procedimientos e instructivos consiste en describir paso a paso lo que debe hacer cada empleado al momento de contestar una llamada, recibir una queja u orientar un cliente al momento de adquirir un producto o servicio, etc. Es recomendable, realizar procedimientos cortos y prácticos.
            .col-12.col-md-2
                img(src="assets/images/pages/ilustraciones/img32.png", style="max-width: 80%").img-fluid.img-a
            p Al tener establecida una política de servicio al cliente, como en todo proceso, es fundamental hacer una evaluación periódica que permita recoger fortalezas de lo que se está haciendo, pero en especial, aspectos que son sujeto de mejora y que daría valor agregado en cuanto se superen.
            p Como último paso, la política de servicio al cliente debe ser compartida con los empleados, puede ser a través de una capacitación o charla programada donde todos escuchen el procedimiento que deben seguir al momento de atender la solicitud de un cliente, lo que permitirá un mayor control, seguimiento y posterior evaluación de esta.
            .col-12
                section
                    .row.justify-content-center
                        .col-auto
                            a(href="media/documentos/Anexo1.pdf" target="_blank").media-link
                                img(src="assets/images/icons/icon_pdf.svg", alt="").media-link-icon
                                .media-link-title
                                    p Se necesita todo un pueblo