.container#aspectos

    .header-ecored
        h1 4. Aspectos administrativos
    
    br#definicion3

    .header-ecored
        h2 4.1 Definición
    
    .jumbotron.bg-color6.shadow
        .row.align-items-center
            .col-12.col-md-4.mb-4.mb-md-0
                img(src="assets/images/pages/ilustraciones/img35.png", style="max-width: 80%").img-fluid.img-a
            .col-12.col-md-8
                h2 La administración junto con la planeación
                p Son procesos sensibles y fundamentales en cualquier organización, empresa o proceso, en tanto constituye el momento clave para la definición del marco legal, recursos, contratación y procedimientos indispensables para la ejecución de acciones que determinan el quehacer.
    
    .jumbotron.bg-color1.shadow
        .row.align-items-center
            .col-12.col-md-8.mb-4.mb-md-0
                h2.text-white En el contexto de la interpretación y traducción,
                p.text-white en el que se genera un alto nivel de informalidad en la prestación del servicio, los aspectos administrativos se convierten en una acción de mejora en la gestión y prioridad fundamental para ofrecer servicios y apoyos inclusivos que permitan el acceso y la participación plena desde el marco legal, recursos, contratación y procedimientos.
            .col-12.col-md-4
                img(src="assets/images/pages/ilustraciones/img26.png", style="max-width: 30%").img-fluid.img-a
    
    .jumbotron.bg-color6.shadow
        .row.align-items-center
            .col-12.col-md-4.mb-4.mb-md-0
                img(src="assets/images/pages/ilustraciones/img36.png", style="max-width: 80%").img-fluid.img-a
            .col-12.col-md-8
                h2 La administración junto con la planeación
                p “El Estado garantizará y proveerá la ayuda de intérpretes idóneos para que sea éste un medio a través del cual las personas sordas puedan acceder a todos los servicios que como ciudadanos colombianos les confiere la Constitución. Para ello el Estado organizará a través de Entes Oficiales o por Convenios con Asociaciones de Sordos, la presencia de intérpretes para el acceso a los Servicios mencionados.” Ley 324
    
    br#recursos

    .header-ecored
        h2 4.2 Recursos requeridos
    
    .jumbotron.bg-white.shadow
        p Identificar los recursos de acuerdo con la necesidad de la actividad, implica hacer un recorrido por el proyecto a emprender, máxime si se considera que estos no solo están en el orden de lo físico, sino y especialmente en el ámbito de la interpretación y la traducción, en el orden de lo humano.
        img(src="assets/images/pages/ilustraciones/img37.png", style="max-width: 60%").img-fluid.img-a
        .row.bg-color4.rounded.p-4.align-items-center
            .col-12.col-md-8
                p #[b Siendo así, el ciclo PHVA (Planificar, Hacer, Verificar y Actuar)], desarrollado por Edward Deming, responde a un ciclo dinámico que se puede emplear en procesos y proyectos, es la base para proyección de los recursos requeridos:
            .col-12.col-md-4
                .list.align-items-center
                    .list__item
                        .list__item__icon
                            img.img-a1(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                    .list__txt
                        p.mb-0.mt-2 Humanos.
                .list.align-items-center.mt-2
                    .list__item
                        .list__item__icon
                            img.img-a1(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                    .list__txt
                        p.mb-0.mt-2 Tecnológicos.
                .list.align-items-center.mt-2
                    .list__item
                        .list__item__icon
                            img.img-a1(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                    .list__txt
                        p.mb-0.mt-2 Económicos.
                .list.align-items-center.mt-2
                    .list__item
                        .list__item__icon
                            img.img-a1(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                    .list__txt
                        p.mb-0.mt-2 Documentación.
                .list.align-items-center.mt-2
                    .list__item
                        .list__item__icon
                            img.img-a1(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                    .list__txt
                        p.mb-0.mt-2 Contratación (legislación, parafiscales).