.container#contratacion

    .header-ecored
        h1 5. Contratación
    
    .jumbotron.bg-white.shadow
        .row.justify-content-center.mb-4
            .col-10
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width="560" height="315" src="https://www.youtube.com/embed/JW_JZQRC7xg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
        p Una contratación figura la concreción de un contrato, es decir, un documento a través del cual se acuerda entre las partes intervinientes la ejecución de una actividad determinada, a cambio de la cual, la persona contratada recibirá una suma de dinero, la cual será estipulada en documento.
        p.mb-0 Existen diferentes tipos de contratos. A fin de comprender los detalles y características más relevantes junto con los derechos y obligaciones tanto del prestador de servicio como del empleador, a continuación, se nombrarán de manera general estas figuras.
    
        #tipos
        .header-ecored
            h2 5.1 Tipos
        p.txt-deco17
            span Los tipos de contratos a los que puede aspirar 
            | un intérprete de lengua de señas pueden ser, entre otros:
        .row.align-items-center.justify-content-center.mt-4.pt-4
            .col-12.col-md-4
                img(src="assets/images/pages/ilustraciones/img38.png", style="max-width: 80%").img-fluid.img-a1
            .col-12.col-md-4.mt-4.mt-md-0
                .list.align-items-center
                    .list__item
                        .list__item__icon
                            img.img-a1(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                    .list__txt
                        p.mb-0.mt-2 Contrato civil por prestación de servicios.
                .list.align-items-center.mt-2
                    .list__item
                        .list__item__icon
                            img.img-a1(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                    .list__txt
                        p.mb-0.mt-2 Contrato a término fijo.
                .list.align-items-center.mt-2
                    .list__item
                        .list__item__icon
                            img.img-a1(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                    .list__txt
                        p.mb-0.mt-2 Contrato a término indefinido.
                .list.align-items-center.mt-2
                    .list__item
                        .list__item__icon
                            img.img-a1(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                    .list__txt
                        p.mb-0.mt-2 Contrato de aprendizaje.
                .list.align-items-center.mt-2
                    .list__item
                        .list__item__icon
                            img.img-a1(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                    .list__txt
                        p.mb-0.mt-2 Contrato de obra o labor.
                .list.align-items-center.mt-2
                    .list__item
                        .list__item__icon
                            img.img-a1(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                    .list__txt
                        p.mb-0.mt-2 Contrato temporal.
            
        #remuneracion
        .header-ecored
            h2 5.2 Remuneración
        .row.align-items-center
            .col-12.col-md-8.p-5.bg-color4.rounded
                p Tener conocimiento del tipo de contratación permite entender aspectos legales relacionados con el tipo de remuneración como, por ejemplo, cómo será la periodicidad de pago, qué acciones del servidor no constituyen un referente de remuneración, qué tipos de descuentos le benefician y cuáles son sus derechos y obligaciones.
            .col-12.col-md-4.mt-4.mt-md-0
                img(src="assets/images/pages/ilustraciones/img39.png", style="max-width: 45%").img-fluid.img-a1
        p.pt-5 En el caso particular de la remuneración de los intérpretes en el entorno educativo, que es el contexto en el que se desenvuelven gran parte de los intérpretes de lengua de señas en Colombia, el Instituto Nacional para Sordos (INSOR) ha venido realizando algunos ejercicios encaminados a la proyección de una base salarial para los intérpretes con el fin de orientar la remuneración por la prestación del servicio, dando respuesta a lo establecido en el parágrafo del artículo 7 de la Ley 982 de 2005. En el caso de los sectores no educativos en los que se presta el servicio, se realiza un acuerdo salarial entre las partes o lo conviene una de ellas.