.container#perfiles

    .header-ecored
        h1 6. Perfiles y Funciones
    
    .jumbotron.bg-white.shadow
    
        #perfil
        .header-ecored.mt-2
            h2 6.1 Perfil del coordinador
        p A través de los años, las personas sordas han demandado un mayor acceso a la información, la comunicación y los servicios que ofrece la sociedad, por lo que es más exigente para los intérpretes tener claridad en sus perfiles y funciones; en especial, aquellas que tienen que ver con la coordinación del servicio en un equipo de trabajo, al igual que de las habilidades y actitudes.
        img(src="assets/images/pages/ilustraciones/img40.png", style="max-width: 80%").img-fluid.img-a
        .row.mt-6
            .col-2
                img(src="assets/images/pages/ilustraciones/img12.png").img-fluid
            .col-3
                h2.mt-5 Artículo 5° Ley 982 (2005)
            .col-7.bg-color7.rounded.p-4
                p Podrán desempeñarse como intérpretes oficiales de la Lengua de Señas Colombiana aquellas personas nacionales o extranjeras domiciliadas en Colombia que reciban dicho reconocimiento por parte del Ministerio de Educación Nacional previo el cumplimiento de requisitos académicos, de idoneidad y de solvencia lingüística, según la reglamentación existente. Parágrafo. Las personas que a la vigencia de esta ley vienen desempeñándose como intérpretes oficiales de la Lengua de Señas, podrán convalidar dicho reconocimiento, presentando y superando las pruebas que para tal efecto expida el Ministerio de Educación Nacional.
                section
                    .row.justify-content-center
                        .col-auto
                            a(href="media/documentos/Anexo2.pdf" target="_blank").media-link
                                img(src="assets/images/icons/icon_pdf.svg", alt="").media-link-icon
                                .media-link-title
                                    p Perfiles y funciones del intérprete
    
        #habilidades
        .header-ecored
            h2 6.2 Habilidades y actitudes
        .row.justify-content-around.align-items-stretch
            .col-12.col-md-5.card.px-0
                img(src="assets/images/pages/ilustraciones/img41.png", style="max-width: 100%").img-fluid
                .card-body.bg-color8
                    .card-text
                        h2 Empatía
                        p Esta cualidad humana se define como: participación afectiva de una persona en una realidad ajena a ella, generalmente en los sentimientos de otra persona.
            .col-12.col-md-5.card.px-0
                img(src="assets/images/pages/ilustraciones/img42.png", style="max-width: 100%").img-fluid
                .card-body.bg-color8
                    .card-text
                        h2 Liderazgo
                        p Llevar la delantera en establecer orden y armonía en un grupo. En el ámbito profesional, tiene que ver con la influencia que el coordinador ejerce en el grupo de trabajo para incentivarlo a lograr el objetivo propuesto.
            .col-12.col-md-5.card.px-0
                img(src="assets/images/pages/ilustraciones/img43.png", style="max-width: 100%").img-fluid
                .card-body.bg-color8
                    .card-text
                        h2 Interrelación con otros
                        p Capacidad de poner en correspondencia unas cosas con otras y consigo mismo, promoviendo la comunicación asertiva.
            .col-12.col-md-5.card.px-0
                img(src="assets/images/pages/ilustraciones/img44.png", style="max-width: 100%").img-fluid
                .card-body.bg-color8
                    .card-text
                        h2 Escucha activa
                        p Destreza de evitar controlar la conversación, permitir que su interlocutor se exprese.
            .col-12.col-md-5.card.px-0
                img(src="assets/images/pages/ilustraciones/img45.png", style="max-width: 100%").img-fluid
                .card-body.bg-color8
                    .card-text
                        h2 Persuasión
                        p Habilidad para influir en las decisiones de una persona a través de razones o argumentos para que piense de una determinada manera o haga cierta cosa.
            .col-12.col-md-5.card.px-0
                img(src="assets/images/pages/ilustraciones/img46.png", style="max-width: 100%").img-fluid
                .card-body.bg-color8
                    .card-text
                        h2 Capacidad de comunicación
                        p Es la capacidad de formular preguntas, expresar ideas de forma clara y sin ambigüedades, ser positivo al exponer conceptos. También se refiere a la destreza de saber cuándo y a quién preguntar o localizar las fuentes de información teórica o experta para alcanzar un objetivo.
        
        #habilidades1
        .header-ecored
            h2 6.3 Habilidades profesionales
        
        .row.mt-6
            .col-2
                img(src="assets/images/pages/ilustraciones/img12.png").img-fluid
            .col-3
                h2.mt-5 Artículo 6° Ley 982 (2005).
            .col-7.bg-color7.rounded.p-4
                p El intérprete oficial de la Lengua de Señas Colombiana tendrá como función principal traducir al idioma castellano o de este a la Lengua de Señas Colombiana, las comunicaciones que deben efectuar las personas sordas con personas oyentes, o la traducción a los sistemas especiales de comunicación utilizados por las personas sordociegas.

        .row.justify-content-around.align-items-stretch.pt-6
            .col-12.col-md-5.card.px-0
                img(src="assets/images/pages/ilustraciones/img47.png", style="max-width: 100%").img-fluid
                .card-body.bg-color8
                    .card-text
                        h2 Trabajo en equipo
                        p Este es un esfuerzo integrado para la realización de un plan. Implica que dos o más personas se coordinen en un objetivo común, en donde cada miembro debe aportar. Lo que hace el coordinador es definir los roles que asumirán los miembros del equipo de trabajo y las tareas que desarrollará cada uno.
            .col-12.col-md-5.card.px-0
                img(src="assets/images/pages/ilustraciones/img49.png", style="max-width: 100%").img-fluid
                .card-body.bg-color8
                    .card-text
                        h2 Control del estrés
                        p Identificar qué podría llevarlo a estrés laboral tanto para sí mismo como para su equipo de trabajo y de esta forma desarrollar respuestas asertivas, establecer límites, promueve espacios de descanso y busca momentos propicios para hablar con el jefe.
            .col-12.col-md-5.card.px-0
                img(src="assets/images/pages/ilustraciones/img48.png", style="max-width: 100%").img-fluid
                .card-body.bg-color8
                    .card-text
                        h2 Negociación
                        p Determinar cuál de los diferentes tipos y estilos de negociación aplicará en circunstancias específicas.
            .col-12.col-md-5.card.px-0
                img(src="assets/images/pages/ilustraciones/img50.png", style="max-width: 100%").img-fluid
                .card-body.bg-color8
                    .card-text
                        h2 Racionalización
                        p Capacidad de transformar situaciones hostiles en entornos favorables para el trabajo en equipo.
            .col-12.col-md-5.card.px-0
                img(src="assets/images/pages/ilustraciones/img51.png", style="max-width: 100%").img-fluid
                .card-body.bg-color8
                    .card-text
                        h2 Capacidad analítica
                        p Esta capacidad permite conocer de manera más profunda las realidades con las que se convive, sintetizarlas y construir nuevos pensamientos a partir de otros que ya se tenía.
            .col-12.col-md-5.card.px-0
                img(src="assets/images/pages/ilustraciones/img52.png", style="max-width: 100%").img-fluid
                .card-body.bg-color8
                    .card-text
                        h2 Capacidad de síntesis
                        p Presenta las ideas más relevantes con el fin de ganar tiempo en momentos de premura.
            .col-12.col-md-5.card.px-0
                img(src="assets/images/pages/ilustraciones/img53.png", style="max-width: 100%").img-fluid
                .card-body.bg-color8
                    .card-text
                        h2 Argumentación
                        p Facilidad para transmitir ideas, defenderlas, sostener conversaciones entendibles con los demás.
            .col-12.col-md-5.card.px-0
                img(src="assets/images/pages/ilustraciones/img54.png", style="max-width: 100%").img-fluid
                .card-body.bg-color8
                    .card-text
                        h2 Innovación y creatividad
                        p Aplica certeramente los cuatro tipos de innovación en el grupo de trabajo: Innovación en producto/servicio, Innovación de procesos, Innovación en marketing, Innovación organizacional.
                        h2.mt-4 Iniciativa
                        p Demuestra que tiene la capacidad para tomar decisiones y, en consecuencia, diseña planifica, desarrolla y evalúa un proyecto.
        
        #ambitos
        .header-ecored
            h2 6.4 Ámbitos del servicio
        p Junto con habilidades mencionadas anteriormente, se espera que el coordinador mantenga una actitud basada en el respeto, la sinceridad, la calma, entre otras actitudes que lo hacen un modelo a seguir.
        .row.pt-4
            .col-12
                div.txt-deco19
                    .row.align-items-center
                        .col-6
                            p.txt-deco18 Ámbitos del servicio
                            p.text-white Definición y especificidades de cada uno de los ámbitos en los que se presenta el servicio de interpretación:
                        .col-6.txt-deco20
                            .list.align-items-center
                                .list__item
                                    .list__item__icon
                                        img.img-a1(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                                .list__txt
                                    p.mb-0.mt-2 Cultura.
                            .list.align-items-center.mt-2
                                .list__item
                                    .list__item__icon
                                        img.img-a1(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                                .list__txt
                                    p.mb-0.mt-2 Educativo.
                            .list.align-items-center.mt-2
                                .list__item
                                    .list__item__icon
                                        img.img-a1(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                                .list__txt
                                    p.mb-0.mt-2 Recreativo.
                            .list.align-items-center.mt-2
                                .list__item
                                    .list__item__icon
                                        img.img-a1(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                                .list__txt
                                    p.mb-0.mt-2 Religioso.
                            .list.align-items-center.mt-2
                                .list__item
                                    .list__item__icon
                                        img.img-a1(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                                .list__txt
                                    p.mb-0.mt-2 Salud.
                            .list.align-items-center.mt-2
                                .list__item
                                    .list__item__icon
                                        img.img-a1(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                                .list__txt
                                    p.mb-0.mt-2 Judicial.
                            .list.align-items-center.mt-2
                                .list__item
                                    .list__item__icon
                                        img.img-a1(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                                .list__txt
                                    p.mb-0.mt-2 Virtual.
                        .col-12.pt-4
                            img(src="assets/images/pages/ilustraciones/img6.png", style="max-width: 80%").img-fluid.img-a
                div.bg-color12