.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white
        p
            strong.mr-2 Intérprete para sordos:
            | personas con amplios conocimientos de la Lengua de Señas Colombiana que puede realizar interpretación simultánea del español hablado en la Lengua de Señas y viceversa.
        
        p
            strong.mr-2 Lengua de señas:
            | es la lengua natural de una comunidad de sordos, la cual forma parte de su patrimonio cultural y es tan rica y compleja en gramática y vocabulario como cualquier lengua oral.
        p 
            strong.mr-2 Logística:
            | red de medios, métodos e infraestructura que garantiza la conservación y calidad de un producto o servicio.
        
        p
            strong.mr-2 Planeación:
            | organización de un plan a partir de objetivos en común, junto con acciones requeridas para concluirse exitosamente.
        p 
            strong.mr-2 Prestación de servicios:
            | es el servicio ofrecido y el servicio percibido en cuanto a calidad, variedad, costo, tiempo de respuesta, disponibilidad, entre otros.

        p 
            strong.mr-2 Relaciones interpersonales:
            | las relaciones interpersonales son asociaciones o interacciones entre dos o más personas que se dan desde el orden de las emociones, sentimientos, intereses, actividades sociales y culturales; además por formas colaborativas que parten de un proceso comunicativo asertivo.

        p 
            strong.mr-2 Servicio:
            | conjunto de actividades o acciones para servir a alguien; además se puede considerar como la acción de dar, prestar apoyo o asistencia a alguien, proviene del latín #[i servitĭum].

        p 
            strong.mr-2 Servicio de interpretación:
            | servicio que se desarrolla “in situ”, es decir, en el propio lugar. Por ejemplo, un intérprete se desplaza con su cliente a una institución, eventos, reuniones.

        p 
            strong.mr-2 Trabajo en equipo:
            | acciones de un grupo de personas que se dan desde un interés común y bajo parámetros claros de compromiso y responsabilidad para conseguir el objetivo. 

        p 
            strong.mr-2 Traducción:
            | consiste en comprender el significado de un texto en un idioma (origen), para producir un texto equivalente, llamado texto meta.