.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th.text-center Nombre del documento o material.
                    th.text-center Tipo de material. 
                    th.text-center Enlace del Recurso.

            tbody

            
                tr
                    td Se necesita todo un pueblo.
                    
                    td Libro
                    td 
                        a(href="media/documentos/Anexo1.pdf", target="_blank") <span class="fa fa-link mr-3" aria-hidden="true"></span> ver

                tr
                    td Ley 982 de 2005, artículo 7.
                    
                    td Libro
                    td 
                        a(href="media/documentos/Anexo2.pdf", target="_blank") <span class="fa fa-link mr-3" aria-hidden="true"></span> ver                        